.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.cards h2 {
    font-size: 1.25rem;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.card:hover h2 {
    color: var(--color-primary);
}

.card-link {
    display: block;
    pointer-events: auto;
}

.card-link img {
    width: 100%;
    display: inline-block;
}

.card > .flex {
    padding: 0.5rem 0.5rem 0.75rem;
}

@media (max-width: 768px) {
    .cards h2 {
        font-size: 1rem;
    }
}