@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
    --font-family: "Merriweather", serif;
    --line-height: 1.5;
    --color-text: #2b2b2b;
    --color-background: #ddd;
    --color-background-lighter: #f0f0f0;
    --color-primary: #6b8e23;
    --color-primary-darker: #4f6b1c;
    --color-link: #6c757d;
    --color-link-hover: #495057;
    --color-gray: #ccc;
    --color-gray-darker: #696969;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: 1rem;
    background-color: var(--color-background-lighter);
    color: var(--color-text);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: color 250ms ease;
}

a:hover {
    color: var(--color-link-hover);
}

.primary-link {
    color: var(--color-primary);
}

.primary-link:hover {
    color: var(--color-primary-darker);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-sm {
    font-size: 70%;
}

.text-gray {
    color: var(--color-gray-darker);
}

header,
footer {
    background-color: var(--color-background);
    padding: 1.25rem;
    border-color: var(--color-gray);
    border-style: solid;
}

header {
    text-align: center;
    border-bottom-width: 1px;
}

footer {
    text-align: center;
    border-top-width: 1px;
}

main {
    padding: 2rem 1.5rem;
    /* should i use 'rem' or 'px' for width attr? */
    /* max-width: 50rem; */
    max-width: 800px;
    margin: 0 auto;
}

img {
    height: auto;
    width: 100%;
    background-size: cover;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .main {
        padding: 1.5rem;
    }
}