:root {
    --font-family: "Arial", sans-serif;
    --line-height: 1.5;
    --color-text: #333;
    --color-background: #ddd;
    --color-background-light: #f0f0f0;
    --color-primary: #6c757d;
    --color-primary-darker: #495057;
    --color-gray: #ccc;
    --color-gray-dark: #696969;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: 1rem;
    background-color: var(--color-background-light);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: color 250ms ease;
}

a:hover {
    color: var(--color-primary-darker);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-sm {
    font-size: 85%;
}

.text-gray {
    color: var(--color-gray-dark);
}

header,
footer {
    background-color: var(--color-background);
    padding: 20px;
    border-color: var(--color-gray);
    border-style: solid;
}

header {
    text-align: center;
    border-bottom-width: 1px;

}

footer {
    text-align: center;
    border-top-width: 1px;
}

main {
    flex: 1;
    padding: 1rem;
}

/* post page */
