:root {
    --font-family: "Merriweather", serif;
    --line-height: 1.5;
    --color-text: #2b2b2b;
    --color-background: #ddd;
    --color-background-lighter: #f0f0f0;
    --color-primary: #6b8e23;
    --color-primary-darker: #4f6b1c;
    --color-link: #6c757d;
    --color-link-hover: #495057;
    --color-gray: #ccc;
    --color-gray-darker: #696969;
}